{% extends 'layout.html' %}

{% block title %}
Cadastro
{% endblock %}


{% block content %} 
<main style="margin: 50px auto 0; padding: 20px; max-width: 600px; background: white; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Cadastro de Usuário</h4>
            <!-- Exibição de Flash Messages -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="alert alert-dismissible fade show mt-3" role="alert">
                {% for category, message in messages %}
                <div class="alert alert-{{ category }} alert-dismissible fade show" role="alert">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}


            <form method="POST" action="{{url_for('auth.cadastro')}}" class="forms-sample">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input type="text" class="form-control" id="nome" name="nome" required>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input type="email" class="form-control" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="pass">Senha</label>
                    <input type="password" class="form-control" id="pass" name="pass" required>
                </div>
                <div class="form-group">
                    <label for="pass">Confirme sua Senha</label>
                    <input type="password" class="form-control" id="pass" name="confirm_pass" required>
                </div>
                    
                <button class="btn btn-primary me-2" type="submit">Cadastrar</button>
            </form>
            <!-- Link para a página inicial -->
            <p class="card-description">Já tem uma conta? <a href="{{url_for('auth.login')}}">Faça login</a></p>
        </div>
    </div>
</main>


{% endblock %}