<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Alunos</title>
</head>
<body>
    
    <form action="/edit_curso/{{ curso.cur_id }}" method="POST">
        Editar Nome: <input type="text" name="nome" value="{{ curso.cur_nome }}"><br>

        Editar Descrição: <input type="text" name="descricao" value="{{ curso.cur_descricao }}"><br>

        <div>
            <button type="submit">Atualizar</button>
        </div>
    </form>
</body>
</html>