<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Atividades</title>
</head>
<body>

    <form action="/edit_disciplinas/{{ disciplina.dis_id }}" method="POST">
        Editar Nome: <input type="text" name="nome" value="{{ disciplina.dis_nome }}"><br>

        Editar Responsável: <input type="text" name="prof_responsavel" value="{{ disciplina.dis_prof_responsavel }}"><br>

        Editar Carga Horária: <input type="time" name="carga_hr" value="{{ disciplina.dis_carga_hr }}"><br>

        <div>
            <button type="submit">Atualizar</button>
        </div>
</body>
</html>