{% extends 'layout.html' %}

{% block title %}
Cadastro de Alunos
{% endblock %}

{% block content %}
<main style="margin: 50px auto 0; padding: 20px; max-width: 600px; background: white; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Cadastre um Novo Aluno</h4>
            <!-- Exibição de mensagem de erro -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div>
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            
            <form action="{{ url_for('cad_aluno') }}" method="post" class="forms-sample">
                <div class="form-group">
                    <label for="nome">Nome</label>
                    <input class="form-control" type="text" id="nome" name="nome" required>
                </div>
                <div class="form-group">
                    <label for="matricula">Matrícula</label>
                    <input class="form-control" type="number" id="matricula" name="matricula" required>
                </div>
                <div class="form-group">
                    <label for="email">E-mail</label>
                    <input class="form-control" type="email" id="email" name="email" required>
                </div>
                <div class="form-group">
                    <label for="curso">Curso:</label>
                    <select class="js-example-basic-single w-100" name="curso" id="curso_id" required>
                        {% for curso in cursos %}
                            <option style="vertical-align: inherit;" value="{{ curso.cur_nome }}">{{ curso.cur_nome }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="data-nascimento">Data de Nascimento</label>
                    <input class="form-control" type="date" id="data_nasc" name="data_nasc" required>
                </div>
                <button class="btn btn-primary me-2" type="submit">Cadastrar</button>
            </form>
        </div>
    </div>
</main>

<div class="card" style="margin: 5px auto 0; padding: 20px; max-width: 600px; background: white; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="card-body">
        <button class="btn btn-primary me-2" onclick="toggleListaAlunos()">Listar Alunos</button>

        <div id="lista-alunos" style="display: none;">
            {% if alunos %}
            <h4 class="card-title">Alunos Cadastrados</h4>
            <table style="width: 100%; border-collapse: collapse;">
                <thead>
                    <tr style="background-color: #f4f4f4; text-align: left;">
                        <th style="padding: 8px; border: 1px solid #ddd;">Nome</th>
                        <th style="padding: 8px; border: 1px solid #ddd;">Matrícula</th>
                        <th style="padding: 8px; border: 1px solid #ddd;">E-mail</th>
                        <th style="padding: 8px; border: 1px solid #ddd;">Curso</th>
                        <th style="padding: 8px; border: 1px solid #ddd;">Data de Nascimento</th>
                        <th style="padding: 8px; border: 1px solid #ddd;">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aluno in alunos %}
                    <tr>
                        <td style="padding: 8px; border: 1px solid #ddd;">{{ aluno.alu_nome }}</td>
                        <td style="padding: 8px; border: 1px solid #ddd;">{{ aluno.alu_matricula }}</td>
                        <td style="padding: 8px; border: 1px solid #ddd;">{{ aluno.alu_email }}</td>
                        <td style="padding: 8px; border: 1px solid #ddd;">{{ aluno.alu_curso }}</td>
                        <td style="padding: 8px; border: 1px solid #ddd;">{{ aluno.alu_data_nasc }}</td>
                        <td style="padding: 8px; border: 1px solid #ddd;">
                        <!-- Botão para editar -->
                        <form action="/edit_aluno/{{ aluno.alu_matricula }}" method="get" style="display: inline;">
                            <button type="submit" style="background: none; border: none; color: var(--primary-color); cursor: pointer; text-decoration: underline;">
                                Editar
                            </button>
                        </form>

                        <!-- Botão para remover -->
                        <form action="{{ url_for('delete_aluno', alu_matricula=aluno.alu_matricula) }}" method="post" style="display: inline;">
                            <button type="submit" style="background: none; border: none; color: var(--error-color); cursor: pointer; text-decoration: underline;" onclick="return confirm('Tem certeza que deseja remover este aluno?');">
                                Remover
                            </button>
                        </form>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p>Nenhum aluno cadastrado ainda.</p>
            {% endif %}
        </div>
    </div>
</div>

<script>
    function toggleListaAlunos() {
        const listaAlunos = document.getElementById("lista-alunos");
        listaAlunos.style.display = listaAlunos.style.display === "none" || listaAlunos.style.display === "" ? "block" : "none";
    }
</script>
{% endblock %}
