<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Alunos</title>
</head>
<body>
    
    <form action="/edit_aluno/{{ aluno.alu_matricula }}" method="POST">
        Editar Nome: <input type="text" name="nome" value="{{ aluno.alu_nome }}"><br>

        Editar Matrícula: <input type="number" name="matricula" value="{{ aluno.alu_matricula }}"><br>

        Editar Email: <input type="text" name="email" value="{{ aluno.alu_email }}"><br>

        Editar Curso: <input type="text" name="curso" value="{{ aluno.alu_curso }}"><br>

        Editar Data de Nascimento: <input type="text" name="data_nasc" value="{{ aluno.alu_data_nasc }}"><br>
    

        <div>
            <button type="submit">Atualizar</button>
        </div>
    </form>
</body>
</html>