{% extends 'layout.html' %}

{% block title %}
Médias por disciplina
{% endblock %}

{% block content %}

<div class="card" style="margin: 5px auto 0; padding: 20px; max-width: 600px; background: white; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="card-body">
        <button class="btn btn-primary me-2" onclick="relatorioMediaAlunos()">Média por Disciplina</button>
        
        <div id="lista-relatorio-media-alunos" style="display: none;">

                <h4 class="card-title">Relatório de Média</h4>
                {% if medias %}
                <table>
                    <thead>
                        <tr>
                            <th>Aluno</th>
                            <th>Disciplina</th>
                            <th>Média</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for media in medias %}
                        <tr>
                            <td>{{ media.alu_nome }}</td>
                            <td>{{ media.dis_nome }}</td>
                            <td>{{ "%.2f"|format(media.media_calculada) }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p class="text-muted">Nenhuma média de nota encontrada.</p>
            {% endif %}
        </div>
    </div>
</div>

<script>
        function relatorioMediaAlunos() {
        const relatorioMediaAlunos = document.getElementById("lista-relatorio-media-alunos");
        relatorioMediaAlunos.style.display = relatorioMediaAlunos.style.display === "none" || relatorioMediaAlunos.style.display === "" ? "block" : "none";
    }
</script>

{% endblock %}