{% extends 'layout.html' %}

{% block title %}
Relatórios
{% endblock %}

{% block content %}

<div class="card" style="margin: 5px auto 0; padding: 20px; max-width: 600px; background: white; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="card-body">
        <button class="btn btn-primary me-2" onclick="listarFrequenciaAlunos()">Listar Frequência dos Alunos</button>

        <div id="lista-frequencia-alunos" style="display: none;">

                <h4 class="card-title">Frequência dos Alunos</h4>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Aluno</th>
                            <th>Aulas</th>
                            <th>Faltas</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for aluno in alunos_faltas %}
                            <tr>
                                <td>{{ aluno['Aluno'] }}</td>
                                <td>{{ aluno['Aulas'] }}</td>
                                <td>{{ aluno['Faltas'] }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

        </div>
    </div>
</div>

<div class="card" style="margin: 5px auto 0; padding: 20px; max-width: 600px; background: white; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="card-body">
        <button class="btn btn-primary me-2" onclick="listarBaixaFrequencia()">Listar Alunos com Baixa Frequência</button>

        <div id="lista-alunos-baixa-frequencia" style="display: none;">
                <h4 class="card-title">Alunos Baixa Frequência</h4>
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Aluno</th>
                                <th>Percentual de Frequência</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for aluno in alunos_baixa_frequencia %}
                                <tr>
                                    <td>{{ aluno['Aluno'] }}</td>
                                    <td>{{ aluno['Percentual'] | round(2) }}%</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

        </div>
    </div>
</div>

<div class="card" style="margin: 5px auto 0; padding: 20px; max-width: 600px; background: white; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="card-body">
        <button class="btn btn-primary me-2" onclick="relatorioMediaAlunos()">Mostrar Média por Disciplina</button>
        
        <div id="lista-relatorio-media-alunos" style="display: none;">

                <h4 class="card-title">Relatório de Média</h4>

        </div>
    </div>
</div>

<div class="card" style="margin: 5px auto 0; padding: 20px; max-width: 600px; background: white; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="card-body">
        <button class="btn btn-primary me-2" onclick="listarForaPrazo()">Listar Trabalhos Entregues Fora do Prazo</button>

        <div id="listar-fora-prazo" style="display: none;">
            <h4 class="card-title">Trabalhos Entregues Fora do Prazo</h4>
            
            {% if trabalhos_fora_prazo_por_aluno_e_disciplina %}
                {% for disciplina, alunos in trabalhos_fora_prazo_por_aluno_e_disciplina.items() %}
                    <h5>{{ disciplina }}</h5>
                    {% for aluno, trabalhos in alunos.items() %}
                        <h6 style="margin-left: 20px;">{{ aluno }}</h6>
                        <ul style="margin-left: 40px;">
                            {% for trabalho in trabalhos %}
                                <li>
                                    <strong>Atividade:</strong> {{ trabalho.atividade }} <br>
                                    <strong>Situação:</strong> {{ trabalho.situacao }} <br>
                                    <strong>Nota:</strong> {{ trabalho.nota }} <br>
                                    <strong>Data de Entrega:</strong> {{ trabalho.data_entrega }} <br>
                                    <strong>Data Limite de Entrega:</strong> {{ trabalho.data_limite_entrega }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                {% endfor %}
            {% else %}
                <p class="text-muted">Nenhum trabalho entregue fora do prazo foi encontrado.</p>
            {% endif %}
        </div>
    </div>
</div>

<div class="card" style="margin: 5px auto 0; padding: 20px; max-width: 600px; background: white; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="card-body">
        <button class="btn btn-primary me-2" onclick="listarTrabalhosEntregues()">Listar Trabalhos Entregues</button>

        <div id="listar-trabalhos-entregues" style="display: none;">
            <h4 class="card-title">Relatório de Trabalhos Entregues</h4>
            {% if trabalhos_por_aluno_e_disciplina %}
                {% for disciplina, alunos in trabalhos_por_aluno_e_disciplina.items() %}
                    <h5>{{ disciplina }}</h5>
                    {% for aluno, trabalhos in alunos.items() %}
                        <h6 style="margin-left: 20px;">{{ aluno }}</h6>
                        <ul style="margin-left: 40px;">
                            {% for trabalho in trabalhos %}
                                <li>
                                    <strong>Atividade:</strong> {{ trabalho.atividade }} <br>
                                    <strong>Situação:</strong> {{ trabalho.situacao }} <br>
                                    <strong>Nota:</strong> {{ trabalho.nota }} <br>
                                    <strong>Data de Entrega:</strong> {{ trabalho.data_entrega }}
                                </li>
                            {% endfor %}
                        </ul>
                    {% endfor %}
                {% endfor %}
            {% else %}
                <p class="text-muted">Nenhum trabalho entregue foi encontrado.</p>
            {% endif %}
        </div>
    </div>
</div>

<script>
    function listarFrequenciaAlunos() {
        const listarFrequenciaAlunos = document.getElementById("lista-frequencia-alunos");
        listarFrequenciaAlunos.style.display = listarFrequenciaAlunos.style.display === "none" || listarFrequenciaAlunos.style.display === "" ? "block" : "none";
    }

    function listarBaixaFrequencia() {
        const listaAlunosBaixaFrequencia = document.getElementById("lista-alunos-baixa-frequencia");
        listaAlunosBaixaFrequencia.style.display = listaAlunosBaixaFrequencia.style.display === "none" || listaAlunosBaixaFrequencia.style.display === "" ? "block" : "none";
    }

    function relatorioMediaAlunos() {
        const relatorioMediaAlunos = document.getElementById("lista-relatorio-media-alunos");
        relatorioMediaAlunos.style.display = relatorioMediaAlunos.style.display === "none" || relatorioMediaAlunos.style.display === "" ? "block" : "none";
    }

    function listarForaPrazo() {
        const listarForaPrazo = document.getElementById("listar-fora-prazo");
        listarForaPrazo.style.display = listarForaPrazo.style.display === "none" || listarForaPrazo.style.display === "" ? "block" : "none";
    }

    function listarTrabalhosEntregues() {
        const listarTrabalhosEntregues = document.getElementById("listar-trabalhos-entregues");
        listarTrabalhosEntregues.style.display = listarTrabalhosEntregues.style.display === "none" || listarTrabalhosEntregues.style.display === "" ? "block" : "none";
    }


</script>

{% endblock %}
