{% extends 'layout.html' %}

{% block title %}
Adicionar Frequência
{% endblock %}

{% block content %}
<main
    style="margin: 50px auto; padding: 20px; padding-bottom: 100px; max-width: 600px; background: white; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Adicionar Frequência para a Aula</h4>
                        <!-- Exibição de mensagem de erro -->
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        {% if messages %}
                        <div>
                            {% for category, message in messages %}
                            <div class="alert alert-{{ category }}">
                                {{ message }}
                            </div>
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% endwith %}
            
            <form action="{{ url_for('', aul_id=aul_id) }}" method="post">
                <table style="width: 100%; border-collapse: collapse;">
                    <thead>
                        <tr style="background-color: #f4f4f4; text-align: left;">
                            <th style="padding: 8px; border: 1px solid #ddd;">Nome do Aluno</th>
                            <th style="padding: 8px; border: 1px solid #ddd;">Presença (0 ou 1)</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for aluno in alunos %}
                        <tr>
                            <td style="padding: 8px; border: 1px solid #ddd;">{{ aluno.alu_nome }}</td>
                            <td style="padding: 8px; border: 1px solid #ddd;">
                                <input type="number" name="frequencias[{{ aluno.alu_id }}]" 
                                value="{{ aluno.freq_frequencia }}" min="0" max="1">
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                <button type="submit" class="btn btn-primary mt-4">Salvar Frequência</button>
            </form>
        </div>
    </div>
</main>
{% endblock %}
