{% extends 'layout.html' %}

{% block title %}
Cadastro de Aulas
{% endblock %}

{% block content %}
<main style="margin: 50px auto 0; padding: 20px; max-width: 600px; background: white; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Cadastre uma Nova Aula</h4>
            <!-- Exibição de mensagem de erro -->
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div>
                {% for category, message in messages %}
                <div class="alert alert-{{ category }}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            
            <form action="{{ url_for('cad_aulas') }}" method="post" class="forms-sample">
                <div class="form-group">
                    <label for="descricao">Descrição da Aula:</label>
                    <input class="form-control" type="text" id="descricao" name="descricao" required>
                </div>
                <div class="form-group">
                    <label for="data">Data da Aula:</label>
                    <input class="form-control" type="datetime-local" id="data" name="data" required>
                </div>
                <div class="form-group">
                    <label for="professor">Professor:</label>
                    <select class="js-example-basic-single w-100" name="professor" id="professor" required>
                        {% for professor in professores %}
                            <option style="vertical-align: inherit;" value="{{ professor.prof_id }}">{{ professor.prof_nome }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label for="disciplina">Disciplina:</label>
                    <select class="js-example-basic-single w-100" name="disciplina" id="disciplina" required>
                        {% for disciplina in disciplinas %}
                            <option style="vertical-align: inherit;" value="{{ disciplina.dis_id }}">{{ disciplina.dis_nome }}</option>
                        {% endfor %}
                    </select>
                </div>
                
                <button class="btn btn-primary me-2" type="submit">Cadastrar Aula</button>
            </form>
        </div>
    </div>
</main>

<div class="card" style="margin: 5px auto 0; padding: 20px; max-width: 600px; background: white; border-radius: 10px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
    <div class="card-body">
        <button class="btn btn-primary me-2" onclick="toggleListaAulas()">Listar Aulas Cadastradas</button>

        <div id="lista-aulas" style="display: none;">
            
            {% if aulas %}
            <h4 class="card-title">Aulas</h4>
            <table style="width: 100%; border-collapse: collapse;">
                <thead>
                    <tr style="background-color: #f4f4f4; text-align: left;">
                        <th style="padding: 8px; border: 1px solid #ddd;">Descrição</th>
                        <th style="padding: 8px; border: 1px solid #ddd;">Data</th>
                        <th style="padding: 8px; border: 1px solid #ddd;">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    {% for aula in aulas %}
                    <tr>
                        <td style="padding: 8px; border: 1px solid #ddd;">{{ aula.aul_descricao }}</td>
                        <td style="padding: 8px; border: 1px solid #ddd;">{{ aula.aul_data }}</td>
                        <td style="padding: 8px; border: 1px solid #ddd;">
                        <!-- Botão para editar -->
                        <form action="/edit_aula/{{ aula.aul_descricao }}" method="get" style="display: inline;">
                            <button type="submit" style="background: none; border: none; color: var(--primary-color); cursor: pointer; text-decoration: underline;">
                                Editar
                            </button>
                        </form>

                        <!-- Botão para remover -->
                        <form action="{{ url_for('delete_aula', aul_id=aula.aul_descricao) }}" method="post" style="display: inline;">
                            <button type="submit" style="background: none; border: none; color: var(--error-color); cursor: pointer; text-decoration: underline;" onclick="return confirm('Tem certeza que deseja remover esta aula?');">
                                Remover
                            </button>
                        </form>

                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% else %}
            <p class="card-description" style="vertical-align: inherit; margin: 80px auto 0; padding: 20px;">Nenhuma aula cadastrada ainda.</p>
            {% endif %}
        </div>
    </div>
</div>

<script>
    function toggleListaAulas() {
        const listaAulas = document.getElementById("lista-aulas");
        listaAulas.style.display = listaAulas.style.display === "none" || listaAulas.style.display === "" ? "block" : "none";
    }
</script>
{% endblock %}
