<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <button><a href="cad_aluno.html">Cadastre alunos!</a>
    </button>
    <button><a href="cad_disciplinas.html">Cadastre disciplinas!</a>
    </button>
    <button><a href="cad_atividades.html">Cadastre atividades!</a>
    </button>
    <button><a href="gestao_freq.html">Gestão de frequências!</a>
    </button>
    <button><a href="relatorios.html">Relatórios e Concultas Avançadas!</a>
    </button>
    <h1>Bem vindo ao nosso monitor de atividades acadêmicas</h1>
</body>
</html>