<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página Inicial</title>
</head>
<body>
    <button><a href="cad_aluno">Cadastre alunos!</a>
    </button>
    <button><a href="cad_disciplinas">Cadastre disciplinas!</a>
    </button>
    <button><a href="cad_atividades">Cadastre atividades!</a>
    </button>
    <button><a href="cad_aulas">Cadastre sua aula!</a>
    </button>
    <button><a href="relatorios">Relatórios e Consultas Avançadas!</a>
    </button>
    <h1>Bem vindo ao nosso monitor de atividades acadêmicas</h1>
</body>
</html>